body {
background: white url("images/fond.jpg") no-repeat;

}

h1{

    color: white;
    font-size : 10px;
    font-family : Helvetica, Arial, sans-serif;
    text-align  : center;

}
h2{
color: red;
font-size: 30px;
font-family:Helvetica,Arial,sans-serif;
text-align: center;
}

.button1{
padding: 3px;
font-family:sans-serif;
width : 50%;
font-size :10px;}

.button2{
padding: 3px;
font-family:sans-serif;
width : 50%;
font-size:10px;
}
